{% load static %}

<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Meta Tag -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="copyright" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Title Tag  -->
    <title>Eshop - eCommerce HTML5 Template.</title>
    <style>
      .pagination {
        display: inline-block;
        margin-top: 20px;
      }
      
      .pagination ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .pagination li {
        margin: 0 5px;
      }
      
      .pagination li a {
        text-decoration: none;
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #333;
      }
      
      .pagination li.active a {
        background-color: #007bff;
        color: #fff;
      }
      
      .pagination li.disabled a {
        pointer-events: none;
        color: #ccc;
      }
      
      
    </style>
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'eshop/images/favicon.png' %}"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap">

    <!-- Web Font -->
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!-- StyleSheet -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'eshop/css/bootstrap.css' %}" />
    <!-- Magnific Popup -->
    <link
      rel="stylesheet"
      href="{% static 'eshop/css/magnific-popup.min.css' %}"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'eshop/css/font-awesome.css' %}" />
    <!-- Fancybox -->
    <link
      rel="stylesheet"
      href="{% static 'eshop/css/jquery.fancybox.min.css' %}"
    />
    <!-- Themify Icons -->
    <link rel="stylesheet" href="{% static 'eshop/css/themify-icons.css' %}" />
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="{% static 'eshop/css/niceselect.css' %}" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'eshop/css/animate.css' %}" />
    <!-- Flex Slider CSS -->
    <link
      rel="stylesheet"
      href="{% static 'eshop/css/flex-slider.min.css' %}"
    />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'eshop/css/owl-carousel.css' %}" />
    <!-- Slicknav -->
    <link rel="stylesheet" href="{% static 'eshop/css/slicknav.min.css' %}" />

    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="{% static 'eshop/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'eshop/style.css' %}" />
    <link rel="stylesheet" href="{% static 'eshop/css/responsive.css' %}" />
  </head>
  <body class="js">
    <!-- Preloader 
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
End Preloader -->

    <!-- Header -->
    <header class="header shop">
      <div class="middle-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-12">
              <!-- Logo -->
              <div class="logo">
                <a href="{% url 'index' %}"
                  ><img src="{% static 'eshop/images/logo.png '%}" alt="logo"
                /></a>
              </div>
              <!--/ End Logo -->
              <!-- Search Form -->
              <div class="search-top">
                <div class="top-search">
                  <a href="#0"><i class="ti-search"></i></a>
                </div>
                <!-- Search Form -->
                <div class="search-top">
                  <form class="search-form">
                    <input
                      type="text"
                      placeholder="Search here..."
                      name="search"
                    />
                    <button value="search" type="submit">
                      <i class="ti-search"></i>
                    </button>
                  </form>
                </div>
                <!--/ End Search Form -->
              </div>
              <!--/ End Search Form -->
              <div class="mobile-nav"></div>
            </div>
            <div class="col-lg-8 col-md-7 col-12">
              <div class="search-bar-top">
                <div class="search-bar">
                  
                  <form action="{% url 'search_results' %}" method="get">
                    <input
                        name="search"
                        placeholder="Search Products Here....."
                        type="search"
                    />
                    <button type="submit" class="btnn"><i class="ti-search"></i></button>
                </form>
                
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-12">
              <div class="right-bar">
                <!-- Search Form -->
                <div class="sinlge-bar">
                  <a href="http://127.0.0.1:8000/wishlist_view/" class="single-icon">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="sinlge-bar">
                  <a href="{% url 'profile' %}" class="single-icon"
                    ><i class="fa fa-user-circle-o" aria-hidden="true"></i
                  ></a>
                  
                </div>
                <div class="sinlge-bar shopping">
                  <a href="{% url 'cart' %}" class="single-icon">
                    <i class="ti-bag"></i>
                    <span class="total-count">{{ cart_items_count }}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header Inner -->
      <div class="header-inner">
        <div class="container">
          <div class="cat-nav-head">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-9 col-12">
                <div class="menu-area">
                  <!-- Main Menu -->
                  <nav class="navbar navbar-expand-lg">
                    <div class="navbar-collapse">
                      <div class="nav-inner">
                        <ul class="nav main-menu menu navbar-nav">
                          <li class="active">
                            <a href="{% url 'index' %}">Home</a>
                          </li>
                          <li><a href="{% url 'index' %}">Product</a></li>
                          
                          <li>
                            <a href="#">Shop<i class="ti-angle-down"></i></a>
                            <ul class="dropdown">
                              
                              <li><a href="{% url 'cart' %}">Cart</a></li>
                              
                            </ul>
                          </li>
                          
                          
                          <li><a href="{% url 'contactus' %}">Contact Us</a></li>
                          {% if request.user.is_authenticated %}
                          <li><a href="{% url 'logout' %}">Logout</a></li>
                          {% else %}

                          <li>
                            <a href="#">Login<i class="ti-angle-down"></i></a>
                            <ul class="dropdown">
                              <li><a href="{% url 'signup' %}">Sign up</a></li>
                              <li><a href="{% url 'login' %}">Login</a></li>
                            </ul>
                          </li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  </nav>
                  <!--/ End Main Menu -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ End Header Inner -->
    </header>
    <!--/ End Header -->

    <!-- Slider Area -->

    {% block body %}

<!-- Start Product Area -->
<div class="product-area section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Search Results</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="product-info">
          <div class="tab-content" id="myTabContent">
            <!-- Start Single Tab -->
            <div class="tab-pane fade show active" id="all" role="tabpanel">
              <div class="tab-single">
                <div class="row">
                  <!-- Loop through search results -->
                  {% for product in search_results %}
                  <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                      <div class="product-img">
                        <a href="{% url 'get_product' product.slug %}">
                          <img class="default-img" src="{{ product.product_images.last.image.url }}" alt="{{ product.product_name }}" width="463" height="612">
                          <img class="hover-img" src="{{ product.product_images.last.image.url }}" alt="{{ product.product_name }}" width="463" height="612">
                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a title="Wishlist" href="{% url 'wish_list' product.uid %}"><i class="ti-heart"></i><span>Add to Wishlist</span></a>
                          </div>
                          <div class="product-action-2">
                            <a title="Add to cart" href="{% url 'add_to_cart' product.uid %}?variant={{ selected_size }}">Add to cart</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3><a href="{% url 'get_product' product.slug %}">{{ product.product_name | slice:":25"}}</a></h3>
                        <div class="product-price">
                          <span>₹ {{ product.price }}.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <!--/ End Single Tab -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Product Area -->

<!-- Pagination -->
<div class="d-flex justify-content-center">
  <div class="pagination">
    <nav aria-label="...">
      <ul class="pagination">
        {% if search_results.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ search_results.previous_page_number }}">Previous</a>
          </li>
        {% endif %}
        {% for num in search_results.paginator.page_range %}
          <li class="page-item {% if num == search_results.number %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% endfor %}
        {% if search_results.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ search_results.next_page_number }}">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
<!-- End Pagination -->

{% endblock body %}

    <!--/ End Slider Area -->

    <!-- Start Footer Area -->
    <footer class="footer">
      <!-- Footer Top -->
      <div class="footer-top section">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-6 col-12">
              <!-- Single Widget -->
              <div class="single-footer about">
                <div class="logo">
                  <a href="{% static 'eshop/index.html' %}"
                    ><img src="{% static 'eshop/images/logo2.png' %}" alt="#"
                  /></a>
                </div>
                <p class="text">
                  Praesent dapibus, neque id cursus ucibus, tortor neque egestas
                  augue, magna eros eu erat. Aliquam erat volutpat. Nam dui mi,
                  tincidunt quis, accumsan porttitor, facilisis luctus, metus.
                </p>
                <p class="call">
                  Got Question? Call us 24/7<span
                    ><a href="tel:123456789">+91 8123045797</a></span
                  >
                </p>
              </div>
              <!-- End Single Widget -->
            </div>
            <div class="col-lg-2 col-md-6 col-12">
              <!-- Single Widget -->
              <div class="single-footer links">
                <h4>Information</h4>
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Faq</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Help</a></li>
                </ul>
              </div>
              <!-- End Single Widget -->
            </div>
            <div class="col-lg-2 col-md-6 col-12">
              <!-- Single Widget -->
              <div class="single-footer links">
                <h4>Customer Service</h4>
                <ul>
                  <li><a href="#">Payment Methods</a></li>
                  <li><a href="#">Money-back</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">Shipping</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
              </div>
              <!-- End Single Widget -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <!-- Single Widget -->
              <div class="single-footer social">
                <h4>Get In Tuch</h4>
                <!-- Single Widget -->
                <div class="contact">
                  <ul>
                    <li>NO. 342 - London Oxford Street.</li>
                    <li>012 United Kingdom.</li>
                    <li>info@eshop.com</li>
                    <li>+032 3456 7890</li>
                  </ul>
                </div>
                <!-- End Single Widget -->
                <ul>
                  <li>
                    <a href="#"><i class="ti-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ti-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ti-flickr"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ti-instagram"></i></a>
                  </li>
                </ul>
              </div>
              <!-- End Single Widget -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Footer Top -->
      <div class="copyright">
        <div class="container">
          <div class="inner">
            <div class="row">
              <div class="col-lg-6 col-12">
                <div class="left">
                  <p>
                    Copyright © 2020
                    <a href="http://www.wpthemesgrid.com" target="_blank"
                      >Wpthemesgrid</a
                    >
                    - All Rights Reserved.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="right">
                  <img src="{% static 'eshop/images/payments.png' %}" alt="#" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- /End Footer Area -->

    <!-- Jquery -->
    <script src="{% static 'eshop/js/jquery.min.js'%}"></script>
    <script src="{% static 'eshop/js/jquery-migrate-3.0.0.js'%}"></script>
    <script src="{% static 'eshop/js/jquery-ui.min.js'%}"></script>
    <!-- Popper JS -->
    <script src="{% static 'eshop/js/popper.min.js'%}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'eshop/js/bootstrap.min.js'%}"></script>
    <!-- Color JS -->
    <script src="{% static 'eshop/js/colors.js'%}"></script>
    <!-- Slicknav JS -->
    <script src="{% static 'eshop/js/slicknav.min.js'%}"></script>
    <!-- Owl Carousel JS -->
    <script src="{% static 'eshop/js/owl-carousel.js'%}"></script>
    <!-- Magnific Popup JS -->
    <script src="{% static 'eshop/js/magnific-popup.js'%}"></script>
    <!-- Waypoints JS -->
    <script src="{% static 'eshop/js/waypoints.min.js'%}"></script>
    <!-- Countdown JS -->
    <script src="{% static 'eshop/js/finalcountdown.min.js'%}"></script>
    <!-- Nice Select JS -->
    <script src="{% static 'eshop/js/nicesellect.js'%}"></script>
    <!-- Flex Slider JS -->
    <script src="{% static 'eshop/js/flex-slider.js'%}"></script>
    <!-- ScrollUp JS -->
    <script src="{% static 'eshop/js/scrollup.js'%}"></script>
    <!-- Onepage Nav JS -->
    <script src="{% static 'eshop/js/onepage-nav.min.js'%}"></script>
    <!-- Easing JS -->
    <script src="{% static 'eshop/js/easing.js'%}"></script>
    <!-- Active JS -->
    <script src="{% static 'eshop/js/active.js'%}"></script>
    <script>
      // Automatically dismiss messages after 5 seconds
      window.onload = function() {
        setTimeout(function() {
            var messagesContainer = document.getElementById('messages-container');
            if (messagesContainer) {
                messagesContainer.remove();
            }
        }, 5000); // 5000 milliseconds = 5 seconds
    };
    </script>
  </body>
</html>
